<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <label for="first">First Name</label>
  <input type="text" name="first_name" id="first">
  <label for="last">Last Name</label>
  <input type="text" name="last_name" id="last">
  <label for="email">E-Mail</label>
  <input type="email" name="email" id"email">
  <label for="note">Note</label>
  <input type="text" name="note" id="note">
  <input type="submit" name="Submit">
</form>
